.panel{
    visibility:hidden;
    position:absolute;
    top:0px;
    left:0px;
    width:80%;
    height: 200px;
    color: white;
    font-size: 14px;
    margin-left: 10%;    
    margin-top: 5%;
}

.panel-mini
{
    visibility:hidden;
    position:absolute;
    top:0px;
    left:0px;
    color: white;
    font-size: 12px;
    border: 5px solid #DEEED6;
    background: #777;
    padding:10px;
}

.panel-header{
    background:url('../img/gui/gui-panel-header.png'); 
    color: black;
    font-size: 14px;
    padding: 3px;
    color:#777777; 
    font-weight:bold;
    text-align: center;
    background-size: 100%;
}

.panel-contents{
    background:#DDDDDD;
    padding: 10px;
    height:100px;
    overflow-y:scroll;
    margin-left: 40px;
    margin-right: 50px;
    color: #777777;
}

#popMenu {
    position:absolute;
    top:0px;
    left:px;
    z-index:1000;
    text-align:center;
    visibility: hidden;
}

#divPopup{
    visibility:hidden;
    position:absolute;
    top:150px;
    left:0px;
    padding:10px;
    border: 5px solid #DEEED6;
    background: #757161;
    color: white;
    font-size: 14px;
}

#divPopMsg {
    background: url(../img/gui/gui-single-message.png);
    width: 498px;
    height:19px;
    visibility:hidden;
    position:absolute;
    top:150px;
    left:0px;
    padding-top:5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align:center;
    color: rgb(124, 124, 255);
}

#divMiniMenu{
    visibility:hidden;
    position:absolute;
    top:150px;
    left:0px;
    background:black;
    padding:10px;
    border:1px solid white;
}
